body {
  background-image: url("dino2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  /* background-color: black; */
  font-family: "PHOSPHATE";
}

.page-title {
  color: black;
  padding-right: 470px;
  padding-top: 80px;
  text-align: center;
  position: sticky;

}

.topNav {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: black;
  position: sticky;
  background-attachment: fixed;

}

.background-img {
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.line-break {
  /* margin: 25px 0; */
  height: 1px;
  padding-bottom: 15px;
  border-bottom: red 5px solid;
}

.topNav ul {
  /* display: inline-block; */
  overflow: hidden;
  list-style-type: none;
  margin: 20px;
  text-align: center;
}

.topNav li {
  font-size: 20px;
  padding-right: 20px;
  text-align: center;
  float: none;
  display: inline-block;
  color: white;
}

.topNav a {
    display: inline;
    color: white;
    /* text-align: center; */
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    font-family: 'PHOSPHATE';
    color: white;
    float: none;
}

/* Change the color of links on hover */
li a:hover {
  background-color: red;
  border: 1px solid red;
  /* border-radius: 15px; */
}

/* Add a color to the active/current link */
.topnav li.active {
  color: white;
  background-color: white;
  border: 1px solid white;
  /* border-radius: 15px; */
}

.tagline {
  float: center;
  font-family: 'PHOSPHATE';
  color: black;
  padding-top: 100px;
  padding-left: 100px;
  font-size: 80px;
}

.visitor-count {
  float: right;
  font-family: 'PHOSPHATE';
  color: white;
  font-size: 30px;
}

.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
}

.component-list {
  color: white;
  text-decoration: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-image: url("dino-icon.png");
  list-style-position: inherit;
  font-size: 20px;
  align-items: center;
  margin-left: 100px;
  padding-right: 400px;
}

.component-list li {
  align-items: center;
  padding-right: 80px;
  padding bottom: 30px;
}

.component-list a {
  color: white;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.component-pad-list {
  color: white;
  text-decoration: none;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-image: url("land.png");
  list-style-position: inherit;
  font-size: 20px;
  align-items: center;
  margin-left: 100px;
  padding-right: 400px;

}

.component-pad-list li {
  align-items: center;
  padding-right: 80px;
  padding bottom: 30px;
}

.component-pad-list a {
  color: white;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.add-button {
  background-color: red;
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.add-button a{
  color: white;
  text-decoration: none;
}

.add-button:hover {
  background-color: grey;
}

.detail-list {
  color: black;
  padding-top: 80px;
  padding-left: 300px;
  font-size: 30px;
}

.edit-button {
  background-color: red;
  display: block;
  /* margin: auto; */
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  /* align-items: center; */
  /* justify-content: center; */
}

.edit-button a{
  color: white;
  text-decoration: none;
}

.edit-button:hover {
  background-color: grey;
}

.save-button {
  background-color: red;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  /* align-items: center; */
  justify-content: center;
}

.save-button a {
  color: white;
  text-decoration: none;
}

.save-button:hover {
  background-color: grey;
}

form {
  padding-top: 50px;
padding-right: 400px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

Select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.employees li {
  color: black;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-position: inherit;
  font-size: 30px;
  align-items: left;
  padding-bottom: 100px;
  margin-right: 700px;
  list-style-type: none;
}

.employees img {
  list-style-type: none;

}

.employees ul {
  align-items: center;
  /* padding-right: 20px; */
  padding bottom: 30px;
  list-style-type: none;
}

.job-title {
  padding-right: 500px;
}
